/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: "Open Sans", Arial, sans;
    outline: none;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

img {
    outline: none;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection declarations have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: none;
    text-shadow: none;
}

::selection {
    background: none;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.5em 0;
    padding: 0;
    clear: both;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Structure */
html, body {
    height: 100%;
}

body {
    background: #3b4442;
}

#wrapper {
    width: 960px;
    margin: auto;
}

/* Header */
header {
    padding: 30px 0 35px;
}

#logo {

}

/* Smart Search */

#smartSearch {
    height: 120px;
    background: url("../img/lens.png") no-repeat left center;
    padding-left: 80px;
    border-top: 2px solid #828e8a;
    border-bottom: 1px solid #46514f;
}

#smartSearch input {
    font-size: 60px;
    background: none;
    border: none;
    line-height: 1;
    height: 120px;
    letter-spacing: -2px;
    color: #cdd9d7;
    font-weight: bold;
    width: 450px;
    display: block;
    float: left;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:focus {
    outline: none;
}

#smartSearch input::-webkit-input-placeholder {
    color: #667775;
    line-height: 1;
}

#smartSearch input:-moz-placeholder {
    color: #667775;
}

@-webkit-keyframes suggest-appear{
    from{
        -webkit-transform: translate3d(-50px, 0, 0);
        opacity: 0;
    }
    to{
        -webkit-transform: translate3d(0px, 0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes suggest-disappear{
    from{
        -webkit-transform: translate3d(0px, 0, 0);
        opacity: 1;
    }
    to{
        -webkit-transform: translate3d(100px, 0, 0);
        opacity: 0;
    }
}

#searchResults {

    border-left: 1px dotted #828e8a;
    list-style: none;
    font-size: 12px;
    overflow: hidden;
    height: 80px;
    max-width: 350px;
    padding: 0px 5px 5px 30px;
    margin: 15px;
}

#searchResults li {
    float: left;
    -webkit-animation: suggest-appear .3s .3s;
    -webkit-animation-fill-mode: both;
    -webkit-transition: .1s ease;
    margin: 4px;
}

#searchResults li a {
    border-radius: 3px;
    padding: 10px;
    display: block;
    background: #515c5a;
    color: #cdd9d7;
    text-decoration: none;

}

#searchResults li a:hover {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .05);
}

#smartSearch .loader {
    float: right;
    background: url('../img/loader.gif');
    display: block;
    width: 24px;
    height: 24px;
    margin: 46px 20px;
    -webkit-transition: all .05s ease-out;
    -moz-transition: all .05s ease-out;
    transition: all .05s ease-out;
    z-index: 11;
    opacity: .1;
}

#smartSearch p {
    color: #cdd9d7;
    font-size: 16px;
    padding-top: 30px;
    -webkit-animation: suggest-appear .3s .3s;
    -webkit-animation-fill-mode: both;
    -webkit-transition: .1s ease;
}

/* Contacts List */

#contactsList {
    width: 300px;
    float: left;
}

dl {
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    padding: 24px 0 0 0;
    position: relative;
}

dt {
    background: #bcd4b4;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: #222;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0px 20px 0 0;
    text-align: right;
    position: absolute;
    text-shadow: 0 1px #d4c9af;
    -moz-text-shadow: 0 1px #d4c9af;
    -webkit-text-shadow: 0 1px #d4c9af;
}

dt {
    bottom: auto;
    min-height: 1px;
    top: 0;
    width: 290px;
}

.animated dt {
    bottom: 0;
    top: auto;
}

dd {
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    color: #828e8a;
    margin: 0;
    padding: 0 0 5px 15px;
    white-space: nowrap;
    background-position: center center;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
}

dd:hover {
    background: url("../img/arrows.png") #46514f center right no-repeat;
}

dd + dd {
    border-top: 1px solid #46514f;
}



.listContainer {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-style: scrollbar;
    position: absolute;
    width: 300px;
}

a.cnt {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #828e8a;

}

a.cnt:hover {
    color: #cdd9d7;
}

/* Right View */

#rightViewContainer {
    width: 600px;
    float: right;
    margin: 0 0px 0 50px;
}

/* Form Design */

.formdesign {
    padding: 0 0 10px 25px;
    float: right;
    border-left: dotted 1px #46514f;
}

.formdesign label {
    display: block;
    color: #797979;
    font-weight: 700;
    line-height: 1.4em;
}

.formdesign input, select, textarea {
    clear: both;
    float: none;
    display: block;
    width: 600px;
    border: none;
    border-bottom: solid 1px #828e8a;
    margin: 10px 0px 8px 0px;
    padding: 6px 0px;
    background: none;
    outline: none;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.03em;
    height: 48px;
    color: white;
    position: relative;
    z-index: 1;
}

.formdesign input:invalid {
    box-shadow: none;
    outline: none;
}

.formdesign div {
    height: 103px;
}

.formdesign div span {
    text-align: right;
    color: #A89999;
    font-size: 12px;

}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

.formdesign .ng-invalid.ng-dirty {
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transition-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    -webkit-animation-name: shake;
    animation-name: shake;
}

.formdesign button, .btn {
    border-radius: 3px;
    padding: 10px;
    display: block;
    background: #515c5a;
    color: #cdd9d7;
    text-decoration: none;
    float: right;
    border: none;
    margin-left: 10px;
}

.formdesign button.btn-danger, a.btn-danger {
    background: #bf6e62;
}

.formdesign button:hover, .btn:hover {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .05);
}

.formdesign button.btn-danger:hover, a.btn-danger:hover {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background: #814d3e;
}

.formdesign button.btn-left, a.btn-left {
    float: left;
    margin-left: 0;
}
a.back {
    text-indent: -9999px;
    background: url("../img/back.png") no-repeat center center #515c5a;
    padding: 10px 5px;
}
a.back:hover {
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.formdesign button[disabled] {
    cursor: default;
    background-image: none;
    background-color: #2f3534;
    opacity: 0.65;
    color: #3f4746;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* View Contact */

h2, p {
    color: #cdd9d7;
    padding: 0;
}


h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 300;
}

p {
    font-size: 22px;
    background: no-repeat left center;
    padding-left: 35px;
    padding-bottom: 5px;
}
p.email {
    background-image: url("../img/email.png");
}
p.phone {
    background-image: url("../img/phone.png");
}
.col1, .col2 {
    width: 270px;
    float: left;
}

.col2 {
    margin-top: 75px;
    margin-right: 30px;
    float: right;
}

/*END*/

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
